@charset "UTF-8";


/*ベース*/
.toggle {
	display: none;
}

/*タイトル*/
.Label {
	padding: 1em;
	display: block;
	color: #fff;
	background:#23454d;
	opacity: 1;
}
/* タイトルグラデーション */
.Label1 {
	background:#23454d;
	opacity: 1;
}
.Label2 {
	background:#23454d;
	opacity:0.9;
}
.Label3 {
	background:#23454d;
	opacity: 0.8;
}
.Label4 {
	background:#23454d;
	opacity: 0.7;
}
.Label5 {
	background:#23454d;
	opacity: 0.6;
}
.Label6 {
	background:#23454d;
	opacity: 0.5;
}

/* 内側 */
.Label11 {
	background:#668c95;
	opacity: 1;
}
.Label12 {
	background:#668c95;
	opacity:0.9;
}
.Label13 {
	background:#668c95;
	opacity: 0.8;
}
.Label14 {
	background:#668c95;
	opacity: 0.7;
}
.Label15 {
	background:#668c95;
	opacity: 0.6;
}
.Label16 {
	background:#668c95;
	opacity: 0.5;
}





/*タイトル横の矢印*/
.Label::before{
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}

.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}

/*本文*/
.content {
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

/*開閉時*/
.toggle:checked + .Label + .content {
	height: auto;
	padding:20px ;
	transition: all .3s;
}

/* 開いているときの矢印 */
.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}

/* 画像サイズ */
.img {
	width: 300px;
}
/* 画像を上に固定 */
.img {
	vertical-align: top;
}


.login:checked #login_img {
	height: 0px;
	width: 0px;
	display: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}

.next_img {
	float: left;
}
.next{
	float: left;
}

