@charset "UTF-8";

/* ONOFFスイッチの作成 */

/* スイッチの場所設定 */
.switch_label {
  position: relative;
  display: flex;
  align-items: center;
}

/* ボタンを押したときのベースの設定 */
input:checked ~ .base {
  background-color: rgb(219, 234, 254);
  transition: 0.5s;
}

/* ボタンを押したときのボールの設定 */
input:checked ~ .circle {
  transform: translateX(100%);
  background-color: blue;
}

/* ベースの設定 */
.base {
  width: 56px;
  border-radius: 16px;
  height: 32px;
  background-color: #ddd;
}

/* ボールの設定 */
.circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: gray;
  transition: 0.5s;
}


/*  */

/* チェックボックスの設定（画面上で見えない） */
input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}

/* 場所の設定 */
.switch {
  position: relative;
}

/* 文字の設定(カテゴリ) */
.title {
  margin-left: 4px;
}

/* 文字の設定(機能名) */
.login {
  margin-left: 8px;
}