@charset "UTF-8";


/*ベース*/
.toggle {
	display: none;
}

/*タイトル*/
.Label {
	padding: 1em;
	display: block;
	color: #fff;
	background:#23454d;
	opacity: 1;
}
/* タイトルグラデーション */
.Label1 {
	background:#23454d;
	opacity: 1;
}
.Label2 {
	background:#23454d;
	opacity:0.9;
}
.Label3 {
	background:#23454d;
	opacity: 0.8;
}
.Label4 {
	background:#23454d;
	opacity: 0.7;
}
.Label5 {
	background:#23454d;
	opacity: 0.6;
}




/*タイトル横の矢印*/
.Label::before{
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}

.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}

/*本文*/
.content {
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

/*開閉時*/
.toggle:checked + .Label + .content {
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}

/* 画像サイズ */
#login_img {
	height: 280px;
}
/* 画像を上に固定 */
.img {
	vertical-align: top;
}
































/* ONOFFスイッチの作成 */



/* ボタンを押したときのベースの設定 */
input:checked ~ .base {
  background-color: rgb(219, 234, 254);
  transition: 0.5s;
}

/* ボタンを押したときのボールの設定 */
input:checked ~ .circle {
  transform: translateX(100%);
  background-color: blue;
}

/* ベースの設定 */
.base {
  width: 56px;
  border-radius: 16px;
  height: 32px;
  background-color: #ddd;
}

/* ボールの設定 */
.circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: gray;
  transition: 0.5s;
}


/*  */

/* チェックボックスの設定（画面上で見えない） */
input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}

/* スイッチの場所設定 */
.switch_label {
  position: relative;
  display: flex;
  align-items: center;
}

/* 場所の設定 */
#switch {
  position: relative;
}

/* 文字の設定(カテゴリ) */
.title {
  margin-left: 4px;
}

/* 文字の設定(機能名) */
.login {
  margin-left: 8px;
}








