@charset "UTF-8";

.right-align {
  float: right;
  margin-right:  100px;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#popupRow {
  display: none;  /* 最初は非表示 */
  background-color: #F0F0F0;  /* 背景色 */
  border: 1px solid #CCC;  /* ボーダー */
  padding: 10px;  /* パディング */
}