@charset "UTF-8";
/*.right-align {
  float: right;
  margin-right:  100px;
}*/
/*.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.table-container {
  width: 100%;
}

td.inquiry-status-cell {
  /* 対応ステータス列の横幅を調整する */
  width: 20%;
}

td.user-id-cell {
  /* ユーザーID列の横幅を調整する */
  width: 10%;
}
td.user-mail-cell {
  /* メールアドレス列の横幅を調整する */
  width: 20%;
}

td.inquiry-subject-cell {
  /* 件名列の横幅を調整する */
  width: 30%;
}
td.inquiry-date-cell {
  /* 日付列の横幅を調整する */
  width: 20%;
}
div.table-container {
  display: flex;
  justify-content: center;
}
tr:nth-child(even) {
  background-color: #b0c4de;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}


/* お問い合わせ内容確認ポップアップ */
.inquiries_wrapper {
	/* デフォルトはdisplay: none;で非表示 */
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
}

.inquiries_modal {
	position: absolute;
	top: 20%;
	left: 25%;
	background-color: #e6ecf0;
	padding: 20px 0;
	border-radius: 10px;
	width: 650px;
	height: auto;
	text-align: center;
}

.close_modal {
	position: absolute;
	top: 6px;
	right: 30px;
	color: rgba(128,128,128,0.46);
	cursor: pointer;
}

.inquiry_container {
	display: flex;
}

.inquiry_container .inquiry {
	width: 50%;
}

.inquiry {

}







