@charset "UTF-8";

/* フォームを中央にそろえる */
form{
    width: 260px;
    margin: auto;
}

/* フォームの中身をそろえる */
.Users{
  width: 250px;
}
.Password{
  width: 250px;
}

/* ログイン＆リセットボタン */
.button{
  margin: 5px auto;
  background: #668c95;
  padding:0.2em 0.5em;
  border:#23454d 1px solid;
  text-decoration:none;
  color: white;
  font-size:0.95em;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.button:hover{
  background: #9cb4ba;
  color: white;
}

/* 会員登録ボタンを中央に配置する */
.input_wrap{
  text-align: center;
}

/* パスワードの表示・非表示 */
#login_form {
  border-width: thin;
}

/* 新規会員登録ボタン */
.regist{
  margin: 10px auto;
  background: #668c95;
  padding:0.3em 1em;
  border:#23454d 1px solid;
  text-decoration:none;
  color: white;
  font-size:1.2em;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

/* パスワード再設定ボタン */
.newPassword{
  margin: 10px auto;
  background: #668c95;
  padding:0.3em 1em;
  border:#23454d 1px solid;
  text-decoration:none;
  color: white;
  font-size:1em;
  transition: 0.3s ease-in-out;
}

/* カーソルを合わせたときのテキスト色 */
a:hover {
  color: #d1d2d3;
}

.regist:hover{
  background: #9cb4ba;
  color: white;
}

/* エラーメッセージ */
.error{
  color: red;
}
