@charset "UTF-8";

/* カテゴリ検索 */
/* とりあえず後で修正 */
.category input {
	background-color: #668c95;
}

nobr, .contents_show, .update_show, .regist_show, .decrease_select, .decrease_input, .item_switch {
	cursor: pointer;
}







/* ポップアップ全体 */
.contents_wrapper, .regist_wrapper, .update_wrapper {
	/* デフォルトはdisplay: none;で非表示 */
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
}

.contents_modal, .regist_modal, .update_modal {
	position: absolute;
	top: 20%;
	left: 34%;
	background-color: #e6ecf0;
	padding: 20px 0 40px;
	border-radius: 10px;
	width: 450px;
	height: auto;
	text-align: center;
}

.close_modal {
	position: absolute;
	top: 12px;
	right: 12px;
	color: rgba(128,128,128,0.46);
	cursor: pointer;
}

