@charset "UTF-8";

/* カテゴリ検索 */
/* とりあえず後で修正 */

nobr, .contents_show, .update_show, .regist_show, .item_switch {
	cursor: pointer;
}






/* タイトル */
main h1 {
	padding: 10px 20px;
	border-bottom: 2px solid #d1d2d3;
}

/* 一斉減量ボタン */
.decrease_wrapper {
	margin: 30px 40px;
	display: inline-block;
}

.decrease_select {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.decrease_select::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #d4acaa;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.decrease_select select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d4acaa;
    border-radius: 25px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.decrease_input {
	padding: 7px 25px;
	border-radius: 7px;
	border: none;
	box-shadow: 0 3px #804158;
	background-color: #d4acaa;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	appearance: none;
	opacity: 0.8;
}

.decrease_input:hover {
	opacity: 1;
	transition: all 0.5s;
}

.decrease_input:active {
	box-shadow: none;
	position: relative;
	top: 2px;
}

/* キーワード検索 */
.keyword_wrapper {
	float: right;
	margin: 30px 10px;
}

.keyword {
	border: 1px solid #668c95;
	border-radius: 20px;
	padding: 7px 14px;
	font-size: 20px;
	width: 350px;
}

/* 商品一覧 */
.list_wrapper {
	padding-bottom: 50px;
}

/* カテゴリ部分 */
.categories_container form {
	text-align:center;
}

.category {
	display: inline-block;
	background-color: #668c95;
	border-radius: 15px;
	margin: 30px 15px;
	opacity: 0.8;
}

.category:hover {
	opacity: 1;
	transition: all 0.5s;
}

.category input {
	padding: 10px;
}

/* 商品部分 */
.items_container form {
	text-align: center;
	padding: 10px 0 40px 0;
	max-width: 70%;
	margin: 0 auto;
}

.items_container form:hover {
	background-color: rgba(211,211,211,0.4);
	border-radius: 10px;
	transition: all 0.5s;
}

.items_container nobr {
	font-size: 25px;
	position: absolute;
	left: 20%;
}

.items_container meter {
	height: 25px;
	width: 350px;
	position: absolute;
	left: 42%;
}

.item_switch1 {
	position: absolute;
	left: 78%;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	background-color: #668c95;
	font-size: 100%;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	appearance: none;
	opacity: 0.8;
}

.item_switch1:hover {
	opacity: 1;
	transition: all 0.5s;
}

.item_switch2 {
	position: absolute;
	left: 78%;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	background-color: #d4acaa;
	font-size: 100%;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	appearance: none;
	opacity: 0.8;
}

.item_switch2:hover {
	opacity: 1;
	transition: all 0.5s;
}

/* 商品登録ボタン */
.regist_show {
	position: fixed;
	bottom: 20px;
	right: 10px;
	opacity: 0.7;
}

.regist_show:hover {
	opacity: 1;
	background-color: rgba(211,211,211,0.4);
	border-radius: 25px;
	padding: 30px;
	transition: all 0.5s;
}

/* ポップアップ全体 */
.contents_wrapper, .regist_wrapper, .update_wrapper {
	/* デフォルトはdisplay: none;で非表示 */
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
}

.contents_modal, .regist_modal, .update_modal {
	position: absolute;
	top: 20%;
	left: 25%;
	background-color: #e6ecf0;
	padding: 20px 0;
	border-radius: 10px;
	width: 650px;
	height: auto;
	text-align: center;
}

.close_modal {
	position: absolute;
	top: 6px;
	right: 12px;
	font-size: 30px;
	color: rgba(128,128,128,0.46);
	cursor: pointer;
}

/* 商品登録ポップアップ */
.regist_container {
	display: flex;
}

.regist_container .regist {
	width: 50%;
}

.regist {
	margin: 15px 0;
	font-size: 20px;
}

.regist input, .regist select {
	font-size: 20px;
}

.meter_input2 {
	width: 350px;
}

.regist_btn, .update_btn {
	padding: 10px 40px;
	border-radius: 5px;
	border: none;
	background-color: #668c95;
	font-size: 100%;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	appearance: none;
	margin-top: 15px;
}

/* 商品内容確認・削除ポップアップ */
.update_show, .contents_delete {
	float: left;
	margin-left: 10px;
	opacity: 0.5;
}

.update_show:hover, .contents_delete:hover {
	opacity: 1;
	transition: all 0.5s;
}

.contents {
	margin-top: 70px;
}

.contents_container {
	display: flex;
}

.contents_container .content {
	width: 50%;
}

.content {
	margin: 15px 0;
}

.content_title, .content_title_price {
	font-size: 20px;
	border-bottom: 2px solid #d1d2d3;
	display: inline-block;
}

.content_title_price {
	margin-bottom: 10px;
}

.item_name, .item_frequency, .item_category {
	font-size: 20px;
	margin-top: 10px;
}

.content meter {
	margin-top: 10px;
	height: 20px;
	width: 350px;
}

.item_url1 {
	padding: 10px 40px;
	border-radius: 5px;
	background-color: #d4acaa;
	font-size: 100%;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	border: none;
	appearance: none;
	position: relative;
	bottom: 10px;
}

.item_url1:hover {
	opacity: 1;
	transition: all 0.5s;
}

.item_url2 {
	padding: 10px 40px;
	border-radius: 5px;
	background-color: #668c95;
	font-size: 100%;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	margin-top: 15px;
	opacity: 0.8;
}

.item_url2:hover {
	opacity: 1;
	transition: all 0.5s;
}

/* 商品更新ポップアップ */
.updates_container {
	display: flex;
}

.updates_container .update {
	width: 50%;
}

.update {
	margin: 15px 0;
	font-size: 20px;
}

.update input, .update select {
	font-size: 20px;
}

.update .item_name {
	margin: 0;
}

.meter_input1 {
	width: 350px;
}










