@charset "UTF-8";

/* ボタンの効果を残したまま隠す */
.button_label {
  position: relative;
}
input[type='submit'] {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}
input[type='button'] {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}


/* 保留 */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


/* ボタンのサイズ調整 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%; /* 100%にしておかないと他ページとずれる */
}

/* ボタンのデザイン調整 */
.btn,
a.btn,d
label.btn,
button.btn {
  font-size: 1.6rem; /* サイズ（全体）変えるならここ */
  font-weight: 700;
  line-height: 1.5; /* サイズ(高さのみ)変えるならここ */
  position: relative;
  display: inline-block;
  padding: 1rem 4rem; /* ここの分が反応せず例外になる */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}



/* submit用 */
label.btn-gradient {
	font-weight: normal;

  /* カーソル合わせたときの色 */
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #23454d),
    to(#668c95)
  );
  background-image: -webkit-linear-gradient(left, #23454d 40%, #668c95 100%);
  background-image: linear-gradient(90deg, #23454d 40%, #668c95 100%);
}
/* button用 */
a.btn-gradient {
	font-weight: normal;

  /* カーソル合わせたときの色 */
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #23454d),
    to(#668c95)
  );
  background-image: -webkit-linear-gradient(left, #23454d 40%, #668c95 400px);
  background-image: linear-gradient(90deg, #23454d 40%, #668c95 100%);
}

/* submit用 */
label.btn-gradient:after {
	position: absolute;
  top: 0;
  left: 0;

  width: 400px;
  height: 100%;

  /* グラデーションの変わる速さ */
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  /* 通常時の色 */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#23454d),
    color-stop(#668c95),
    to(#d4acaa)
  );

  background-image: -webkit-linear-gradient(left, #23454d, #668c95, #d4acaa);

}
/* button用 */
a.btn-gradient:after {
	position: absolute;
  top: 0;
  left: 0;

  width: 400px;
  height: 100%;

  /* グラデーションの変わる速さ */
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  /* 通常時の色 */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#23454d),
    color-stop(#668c95),
    to(#d4acaa)
  );

  background-image: -webkit-linear-gradient(left, #23454d, #668c95, #d4acaa);

}


/* submit */
label.btn-gradient span {
  position: relative;
  z-index: 1;
}

label.btn-gradient:hover {
  color: #fff;
}

label.btn-gradient:hover:after {
  opacity: 0;
}

/* button */
a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}

.td {
	width: 400px;
}
