@charset "UTF-8";

/* フォームを中央にそろえる */
form{
    width: 260px;
    margin: auto;
}

/* フォームの中身 */
.id,.pw,.mail{
  border: double #668c95;
  height: 35px;
  width: 250px;
}

/* パスワードの表示・非表示 */
#idregist {
  border-width: thin;
}

/* 登録＆リセットボタン */
.button{
  margin: 5px auto;
  background: #668c95;
  padding:0.2em 0.5em;
  border:#23454d 1px solid;
  text-decoration:none;
  color: white;
  font-size:0.95em;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.button:hover{
  background: #9cb4ba;
  color: white;
}

/* エラーメッセージ */
#output{
  color: red;
}
