@charset "UTF-8";


table {
  width: 80%;
}



td.delete-cell {
  /* 削除列の横幅を元の大きさに戻す */
  width: auto;
}

td.user-id-cell {
  /* ユーザーID列の横幅を調整する */
  width: 40%;
}

td.user-mail-cell {
  /* メールアドレス列の横幅を調整する */
  width: 60%;
}
div.table-container {
  display: flex;
  justify-content: center;
}
tr:nth-child(even) {
  background-color: #b0c4de;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}